body {
  background: #F5F5DC;
  max-width: 960px;
}

#footer {
  width: 50%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: double;
}

a:visited {
  color: red;
}

.parts {
  font-family: Courier;
}

#intel {
  border: 1px solid black;
  color: red;
  margin: 50px;
}

table, th, td {
  border: 1px solid red;
}

#drive {
  background-image: url("images/intel_ssd.jpg");
  background-size: 100%;
  color: white;
}

@media screen and (max-width: 480px) {
  body {
    font-size: small;
  }
}